body {
  padding-bottom: 500px;
}

/* 1 - Flex */
.flex {
  display: flex;
  background-color: #ddd;
  margin-bottom: 20px;
}

/* 2 - Column */
.flex-column {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
}

/* 3 - Wrap */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.box {
  height: 40px;
  width: 33%;
  border: 1px solid red;
}

/* 4 - Justify Content */
.center,
.space-between,
.space-around,
.end {
  display: flex;
  margin-bottom: 20px;
}

.center .box,
.space-between .box,
.space-around .box,
.end .box {
  width: 60px;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.end {
  justify-content: flex-end;
}

/* 5 - Align Items */
.align-start,
.align-items-center,
.align-items-end,
.align-items-stretch {
  display: flex;
  margin-bottom: 20px;
  height: 200px;
  border: 1px solid blue;
}

.align-items-center .box,
.align-items-end .box,
.align-items-stretch .box {
  width: 60px;
}

.align-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-stretch .box {
  height: auto;
}

/* 6 - Gap */
.gap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid green;
  gap: 10px;
}

.gap .box {
  width: 32%;
}

/* 7 - Order */
.order {
  display: flex;
}

#um {
  order: 1;
}
#dois {
  order: 2;
}
#tres {
  order: 3;
}
#quatro {
  order: 4;
}
