body {
  padding-bottom: 500px;
}

/* 1 - Flex */
.flex {
  display: flex;
  background-color: #ddd;
  margin-bottom: 20px;
}

/* 2 - Column */
.flex-column {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
}

/* 3 - Wrap */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.box {
  height: 40px;
  width: 33%;
  border: 1px solid red;
}

/* 4 - Justify Content */
.center,
.space-between,
.space-around,
.end {
  display: flex;
  margin-bottom: 20px;
}

.center .box,
.space-between .box,
.space-around .box,
.end .box {
  width: 60px;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.end {
  justify-content: flex-end;
}
