body {
  padding-bottom: 500px;
}

/* 1 - Flex */
.flex {
  display: flex;
  background-color: #ddd;
  margin-bottom: 20px;
}

/* 2 - Column */
.flex-column {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
}
