/* 4 - External */
body {
  padding-bottom: 500px;
}

h3 {
  color: green;
}

p {
  color: blueviolet;
}

/*Algum comentário*/
/* mais um comentário * /
/* Terceiro comentário */

/* classes */
.paragraph {
  background-color: black;
  color: aqua;
  padding: 5px;
}

/* ids */
#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 40px;
}

/* ordem das regras */
h2 {
  border-bottom: 2px solid red;
}

.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
  color: crimson;
}

/* Hex */

.hex {
  color: #55a398;
}

.hex-2 {
  color: #00eaff;
}

/* Aprofundando em hex */
.simple-hex {
  color: #333;
}

.simple-hex-2 {
  color: #a5f;
}

/* RGB */

.rgb {
  color: rgb(255, 0, 0);
}

.mixed-rgb {
  color: rgb(199, 21, 47);
}

/* RGBA */

.rgba {
  color: rgba(100, 199, 45, 0.3);
}

/* HSL */
.hsl {
  color: hsl(100, 20%, 50%);
}

.hsl-2 {
  color: hsl(201, 44%, 69%);
}

/* background */
.bg {
  background-color: #000;
  color: yellow;
}

.bg-2 {
  background-color: rgb(200, 20, 40);
  color: #00eaff;
}

/* Background opacity */
.bg-opacity {
  background-color: green;
  opacity: 0.2;
}

.bg-opacity-2 {
  background-color: #999;
  color: #000;
  opacity: 0.8;
}

/* RGBA com opacidade */
.rgba-opacity {
  background-color: rgba(90, 120, 20, 0.2);
  color: #000;
}

/* BG image */
.bg-image {
  background-image: url(../img/01.jpg);
  padding: 300px;
  color: #fff;
}

/* Centralizando bg image */
.not-centered-bg,
.centered-bg {
  height: 500px;
  width: 500px;
  background-image: url(../img/02.jpg);
}

.centered-bg {
  background-position: center;
  background-size: cover;
}

/* largura e altura */
.height-width {
  height: 200px;
  width: 100px;
  background-color: red;
}

.height-width-2 {
  height: 300px;
  background-color: #333;
}

/* padding */
.without-padding,
.padding {
  background-color: #111;
  color: #fff;
}

.padding {
  background-color: #333;
  padding: 20px;
}

/* padding individual */
.padding-individual {
  background-color: #222;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
}

/* Shorthand padding */
.shorthand-padding {
  background-color: #444;
  padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
  background-color: #555;
  padding: 10px 20px;
}

/* Padding com width */
.without-border-box {
  background-color: #444;
  color: #fff;
  width: 400px;
  padding: 50px;
}

.border-box {
  background-color: #666;
  color: #fff;
  width: 400px;
  padding: 50px;
  box-sizing: border-box;
}

/* Border */
.border {
  border: 5px solid red;
  padding: 10px;
}

.border-2 {
  border: 2px dotted #931;
  padding: 25px;
}

/* Borda individual */
.border-left {
  border-left: 3px solid blue;
  background-color: #222;
  padding: 25px;
}

.border-bottom {
  border-bottom: 5px double green;
  background-color: #222;
  padding: 20px;
}

/* Borda arredondada */
.rounded-border {
  border: 5px solid #333;
  background-color: #000;
  border-radius: 10px;
  padding: 20px;
}

.rounded-border-2 {
  background-color: #111;
  border-radius: 25px;
  padding: 15px;
  color: blue;
}

/* Margem */
.margin {
  margin: 20px;
  background-color: #222;
}

.margin-top {
  margin-top: 30px;
  background-color: #333;
  padding: 10px;
}

.margin-shorthand {
  margin: 10px 20px 30px 40px;
  background-color: #444;
}

/* Box Model */
.box-model {
  margin: 20px;
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 5px solid #000;
  border-radius: 7px;
}

/* Text Alig */
.text-aligned {
  text-align: right;
}

.container-center {
  width: 500px;
  border: 2px solid #000;
  text-align: center;
}

/* Text Decoration */
.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.no-decoration {
  text-decoration: none;
  color: red;
}

/* Text Transform */
.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

/* Letter Spacing */
.letter-spacing {
  letter-spacing: 5px;
}

/* Fontes */
.serif {
  font-family: Georgia;
}

.sans-serif {
  font-family: Helvetica;
}

.monospace {
  font-family: "Courier New";
}

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}

/* Font Style */
.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

/* Font Weight */
.thin,
.bold,
.bolder {
  font-family: Helvetica;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

/* Font Size */
.small-font {
  font-size: 12px;
}

.medium-font {
  font-size: 16px;
}

.big-font {
  font-size: 24px;
}

/* Display */
.inline-box {
  width: 500px;
  height: 500px;
  background-color: #333;
  margin: 100px;
  display: inline-block;
}

.block {
  background-color: #666;
  margin: 100px;
  display: block;
}

/* Escondendo elementos */
.invisible {
  display: none;
}

/* Position static */
.static-box {
  position: static;
  width: 200px;
  height: 200px;
  background-color: #333;
}

/* Position relative */
.relative-box {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #333;
  top: 100px;
  left: 40px;
}
