/* GERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #fafafa;
}

/* CONTAINERS */
#main-container {
  display: flex;
  margin-top: 30px;
}

#banner-container {
  text-align: right;
}

#banner-container {
  width: 100%;
  margin-right: 15px;
  margin-top: 25px;
  max-width: 380px;
}

#form-container {
  text-align: center;
}
